.header {
    display: flex;
    justify-content: space-between;
    min-height: 50px;

    .header__link {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    .header__linkLogo {
        margin-right: auto;
    }

    .header__linkSignOut {
        color: #f45;
    }
}
